$iconSpritePath: "../images/glyphicons-halflings.png";
$iconWhiteSpritePath: "../images/glyphicons-halflings-white.png";

@import 'sass-bootstrap/lib/bootstrap';
@import 'sass-bootstrap/lib/responsive';
@import 'sprite';
.hero-unit {
    margin: 50px auto 0 auto;
    width: 300px;
}


.icons-inline{ display: inline-block;}
